.header {
  background-color: var(--text-color);
  padding-top: 17px;
  padding-bottom: 18px;
  @include tablet {
    padding-bottom: 28px;
  }
}

.header__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;

  @include tablet {
    align-items: center;
  }
}
